
.blue {
  color: #185875;
}

.yellow {
  color: #FFF842;
}

.container {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: table;
  padding: 0 0 8em 0;
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

.container th {
  background-color: #1F2739;
  color: #185875;
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

.container td {
  background-color: #2C3446;
  color: #A7A1AE;
  padding: 8px;
}

.container tr:nth-child(odd) {
  background-color: #323C50;
}

.container tr:nth-child(even) {
  background-color: #2C3446;
}

.container td:first-child {
  color: #FB667A;
}

.container tr:hover {
  background-color: #464A52;
  box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
} 
